@{
    ViewData["Title"] = "EditLesson";
}
@model CourseSystem.Web.ViewModels.Lessons.EditLessonViewModel

<link href="~/css/style4.css" rel="stylesheet" />

<div class="wrapper">
    <form method="post">
        <div class="form-group">
            <label asp-for="Name" for="title">Title</label>
            <input asp-for="Name" type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Topic</label>
            <textarea asp-for="Description" class="form-control" id="Description" name="Description" rows="3">@Model.Description</textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <input asp-for="Id" type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
        </div>
        <div class="form-group">
            <input asp-for="CourseId" type="hidden" class="form-control" id="courseId" name="courseId" value="@Model.CourseId">
        </div>
        <div class="button-wrapper">
            <button type="submit" class="btn btn-primary">Save And Edit Segments</button>
        </div>
    </form>
</div>