
@{
    ViewData["Title"] = "CreateSegment";
}
@model CourseSystem.Web.ViewModels.Lessons.LessonViewModel

<link href="~/css/style5.css" rel="stylesheet" />

<div class="wrapper">
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="content-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="true">Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="test-tab" data-toggle="tab" href="#test" role="tab" aria-controls="test" aria-selected="false">Test</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">
                <form method="post">
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" rows="20" name="content"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="lessonId" name="lessonId" value="@Model.LessonId">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="placeInOrder" name="placeInOrder" value=@Model.PlaceInOrder>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="courseId" name="courseId" value=@Model.CourseId>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="discriminator" name="discriminator" value="ContentSegment">
                    </div>
                    <div class="button-wrapper">
                        <button type="submit" class="btn btn-primary" name="submitType" value="another">Add Another Section</button>
                        <button type="submit" class="btn btn-primary" name="submitType" value="finishLesson">Finish Lesson</button>
                        <button type="submit" class="btn btn-primary" name="submitType" value="finishCourse">Finish Course</button>
                        @*<a onclick="img_find()" class="btn btn-primary">Upload</a>*@
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="test" role="tabpanel" aria-labelledby="test-tab">
                <form method="post">
                    <div class="form-group">
                        <label for="question">Question</label>
                        <input type="text" class="form-control" id="question" name="question" placeholder="Question...">
                    </div>
                    <div class="form-group">
                        <label for="correctAnswer">Correct Answer</label>
                        <input type="text" class="form-control" id="correctAnswer" name="correctAnswer" style="border: 2px solid transparent; border-color:#28a745;" placeholder="Correct Answer...">
                    </div>
                    <div class="form-group">
                        <label for="wrongOption1">Wrong Option</label>
                        <input type="text" class="form-control" id="wrongOption1" name="wrongAnswer1" style="border: 2px solid transparent; border-color:#dc3545;" placeholder="Wrong option...">
                    </div>
                    <div class="form-group">
                        <label for="wrongOption2">Wrong Option</label>
                        <input type="text" class="form-control" id="wrongOption2" name="wrongAnswer2" style="border: 2px solid transparent; border-color:#dc3545;" placeholder="Wrong option...">
                    </div>
                    <div class="form-group">
                        <label for="wrongOption3">Wrong Option</label>
                        <input type="text" class="form-control" id="wrongOption3" name="wrongAnswer3" style="border: 2px solid transparent; border-color:#dc3545;" placeholder="Wrong option...">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="lessonId" name="lessonId" value="@Model.LessonId">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="placeInOrder" name="placeInOrder" value=@Model.PlaceInOrder>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="courseId" name="courseId" value=@Model.CourseId>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="discriminator" name="discriminator" value="TestSegment">
                    </div>
                    <div class="button-wrapper">
                        <button type="submit" class="btn btn-primary" name="submitType" value="another">Add Another Section</button>
                        <button type="submit" class="btn btn-primary" name="submitType" value="finishLesson">Finish Lesson</button>
                        <button type="submit" class="btn btn-primary" name="submitType" value="finishCourse">Finish Course</button>
                        @*<a onclick="img_find()" class="btn btn-primary">Upload</a>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
        imagetools_cors_hosts: ['picsum.photos'],
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
        toolbar_sticky: true,
        //paste_data_images: true,
        //images_upload_url: '/Segments/UploadImage',
        //automatic_uploads: true,
        images_reuse_filename: true,
        file_picker_types: 'image',
        images_upload_base_path: 'https://res.cloudinary.com/alekskn99/image/upload/',
        images_upload_handler: function (blobInfo, success, failure) {
            var xhr, formData;

            xhr = new XMLHttpRequest();
            xhr.withCredentials = false;
            xhr.open('POST', '/Segments/UploadImage');

            xhr.onload = function () {
                var json;

                if (xhr.status != 200) {
                    failure('HTTP Error: ' + xhr.status);
                    return;
                }

                json = JSON.parse(xhr.responseText);

                if (!json || typeof json.location != 'string') {
                    failure('Invalid JSON: ' + xhr.responseText);
                    return;
                }

                success(json.location);
            };

            formData = new FormData();
            formData.append('file', blobInfo.blob(), blobInfo.filename());

            xhr.send(formData);
        },
    });
</script>

<script>
    function upload(path) {
        return $.ajax(
            {
                type: "GET",
                url: "/Segments/UploadImage?base64=" + path,
                success: function () { console.log('success'); },
                error: function (error) {
                    console.log(error);
                },
            }
        );
    }

    function img_find() {
        var tinyMCECode = tinyMCE.activeEditor.getContent();
        var imgs = getAttrFromString(tinyMCECode, 'img', 'src');
        for (var i = 0; i < imgs.length; i++) {
            upload(imgs[i]);
        }
    }

    function getAttrFromString(str, node, attr) {
        var regex = new RegExp('<' + node + ' .*?' + attr + '="(.*?)"', "gi"), result, res = [];
        while ((result = regex.exec(str))) {
            res.push(result[1]);
        }
        return res;
    }
</script>