
@{
    ViewData["Title"] = "CreateSegment";
}
@model CourseSystem.Web.ViewModels.Lessons.LessonViewModel

<link href="~/css/style5.css" rel="stylesheet" />

<div class="wrapper">
    <form method="post">
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="20" name="content"></textarea>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="lessonId" name="lessonId" value="@Model.LessonId">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="placeInOrder" name="placeInOrder" value=@Model.PlaceInOrder>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="courseId" name="courseId" value=@Model.CourseId>
        </div>
        <div class="button-wrapper">
            <button type="submit" class="btn btn-primary" name="submitType" value="another">Add Another Section</button>
            <button type="submit" class="btn btn-primary" name="submitType" value="finishLesson">Finish Lesson</button>
            <button type="submit" class="btn btn-primary" name="submitType" value="finishCourse">Finish Course</button>
        </div>
    </form>
</div>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media imagetools"
        ],
        paste_data_images: true,
        //images_upload_url: '/Segments/UploadImage',
        automatic_uploads: true,
        file_picker_types: 'image',
        file_picker_callback: function (cb, value, meta) {

            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            input.onchange = function () {
                var file = this.files[0];

                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);
                    cb(blobInfo.blobUri(), { title: file.name });
                };
            };
            input.click();
        }
    });
</script>