.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.lesson{
    position:relative;
    top:0;
    height:100%;
    width:75%;
}

.lesson-header {
    background-color: royalblue;
    color: white;
    /* height: 2.5em; */
    padding: 1em;
    font-size: 36px;
    display: flex;
    align-items: center;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:1.25em;
    z-index:1000;
}

.lesson-body{
    background-color: seashell;
    padding:1em;
    margin: 0;
}

p{
    margin: 1em 0;
    font-size: 20px;
}