div.card div{
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}

div.card div h2, div.card div h5{
    width: 100%;
    margin: 1em;
}

div.card div h2{
    text-align: center;
}

div.card div a{
    margin-top: 1em;
}