@using CourseSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<link href="~/css/style.css" rel="stylesheet" />
<section class="main-section">
    <div class="heading-image-container">
        <h1>Learn new skills in a fast and efficient way</h1>
        <div class="break"></div>
        <a href="Identity/Account/Register" class="btn">Start learning now</a>
        <svg style="position:relative; top:0.5em" width="320px" height="65px" viewBox="0 0 320 65" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="FooterSmall" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M160,1 L0,1 L0,51.129663 C121.176758,69.9929929 227.843424,54.9481292 320,5.99507187 L320,429 L0,429 L0,1 L160,1 Z" id="Combined-Shape" fill="#f4d35e"></path>
            </g>
        </svg>
    </div>
    <div class="jumbotron card card-image" id="jumbotron">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 class="card-title h1 pt-3 mb-5 font-bold txtshadow"><strong>Learn or Teach</strong></h2>
                <p class="mx-5 mb-5 h4 txtshadow">Learn new skills from various courses created by staff and users or create a course to share your knowledge with others.</p>
                <a class="h2 btn text-white btn-outline-white btn-md txtshadow" style="font-size:1.75rem;" href="Identity/Account/Register">
                    <i class="fas fa-medal left"></i>
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>

<section class="notes">
    <ul class="ul">
        <li class="li">
            <div href="#" class="a">
                <h2 class="h2">Simply Amazing!</h2>
                <p class="p">I now use this app to learn and to teach. The best tool I've come across in over 10 years</p>
            </div>
        </li>
        <li class="li">
            <div href="#" class="a">
                <h2 class="h2">Cool</h2>
                <p class="p">Easy and fun It's a great app, I recommend it to everybody.</p>
            </div>
        </li>
        <li class="li">
            <div href="#" class="a">
                <h2 class="h2">5 stars</h2>
                <p class="p">The flash cards are great for memorizing new words and concepts</p>
            </div>
        </li>
        <li class="li">
            <div href="#" class="a">
                <h2 class="h2">Fun and simple</h2>
                <p class="p">I would definitely recommend this to anyone trying to learn a new skill</p>
            </div>
        </li>
    </ul>
</section>

<div class="footer-swoosh">

    <svg width="320px" height="65px" viewBox="0 0 320 65" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="FooterSmall" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M160,1 L0,1 L0,51.129663 C121.176758,69.9929929 227.843424,54.9481292 320,5.99507187 L320,429 L0,429 L0,1 L160,1 Z" id="Combined-Shape" fill="#2e4057"></path>
        </g>
    </svg>

</div>
<footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Footer Links -->

    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Footer Content</h5>
                <p>
                    Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.
                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-2">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="#!">Team</a>
                    </li>
                    <li>
                        <a href="#!">Contact</a>
                    </li>
                    <li>
                        <a href="#!">Imprint</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a asp-area="" asp-page="/Account/Register" class="btn btn-warning  btn-rounded" id="signup">Sign up</a>
        </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>