@{
    ViewData["Title"] = "Home";
}
<link href="~/css/enrolledcourses.css" rel="stylesheet">

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="course">
                <img src="placeholder.png" alt="">
                <div>
                    <h1 class="title">Title</h1>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="lower">
                        <h3>25/38</h3>
                        <h3>Hard</h3>
                        <div class="next btn">Next</div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!-- /#page-content-wrapper -->

<!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->

