
@{
    ViewData["Title"] = "CreateDeck";
}
@model CourseSystem.Web.ViewModels.Decks.DeckInputModel

<div class="capsule d-flex justify-content-center h-100 mt-4">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Deck Name</label>
            <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" aria-describedby="emailHelp" placeholder="Name...">
            <span asp-validation-for="Name"></span>
            <small id="emailHelp" class="form-text text-muted">Give your deck a descriptive name so that later you know what it's about (3 symbols minimum)</small>
        </div>
        <div class="form-check">
            <input class="form-check-input" asp-for="IsPublic" type="radio" name="isPublic" id="public" value="Public" checked>
            <label class="form-check-label" asp-for="IsPublic">
                Public
            </label>
            <span asp-validation-for="IsPublic"></span>
        </div>
        <div class="form-check">
            <input class="form-check-input" asp-for="IsPublic" type="radio" name="isPublic" id="private" value="Private">
            <label class="form-check-label" asp-for="IsPublic">
                Private
            </label>
            <span asp-validation-for="IsPublic"></span>
        </div>
        <div class="form-group">
            <label asp-for="Thumbnail">Thumbnail</label>
            <input asp-for="Thumbnail" type="file" class="form-control-file" id="thumbnail" name="thumbnail">
            <span asp-validation-for="Thumbnail"></span>
        </div>
        <button type="submit" class="btn btn-primary button-color">Add Card</button>
    </form>
</div>