
@{
    ViewData["Title"] = "MyDecks";
}
@model CourseSystem.Web.ViewModels.Decks.DisplayDecksViewModel;

<link href="~/css/mydecks.css" rel="stylesheet" />
<section>
    <section class="d-flex justify-content-center align-items-center p-3 m-4">
        <h1 class="btn btn-primary font-weight-bolder" style="font-size:2.5rem; background-color:#2e4057">
            <a asp-controller="Decks" asp-action="Create">+</a>
        </h1>
    </section>
    <main>
        <div class="capsule d-flex flex-wrap">
            @foreach (var deck in Model.Decks)
            {
                <div class="card p-3 m-4" style="width: 20rem;">
                    <img class="card-img-top" src="~/placeholder.png" alt="placeholder">
                    <div class="card-body">
                        <h5 class="card-title">@deck.Name</h5>
                        @if (deck.IsPublic == true)
                        {
                            <p class="card-text">Public</p>
                        }
                        else
                        {
                            <p class="card-text">Private</p>
                        }
                        <a asp-action="PlayDeck" asp-route-deckId="@deck.Id" asp-route-name="@deck.Name" class="btn btn-primary">Start</a>
                        @if (this.User.Identity.Name == deck.User.UserName)
                        {
                            <a asp-action="DeleteDeck" asp-route-id="@deck.Id" class="btn btn-danger">Delete</a>
                            <a href="#" class="btn btn-warning">Edit</a>
                        }
                    </div>
                </div>
            }
        </div>
    </main>
</section>