@{
    ViewData["Title"] = "Home";
}
@model CourseSystem.Web.ViewModels.Courses.EnrolledCoursesViewModel

<link href="~/css/enrolledcourses.css" rel="stylesheet">

<!-- /#sidebar-wrapper -->
<!-- Page Content -->
<div id="page-content-wrapper">


    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>

    <div class="main">
        @foreach (var course in Model.Courses)
        {
            <div class="course">
                <img src="@course.ThumbnailUrl" alt="No Thumbnail">
                <div>
                    <h1 class="title">@course.Name</h1>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="lower">
                        <h3>0/@course.LessonsCount</h3>
                        <h3>@course.Difficulty</h3>
                        <a class="btn btn-primary btn-lg" asp-action="Study" asp-controller="Courses" asp-route-courseId="@course.Id" role="button">Study</a>
                    </div>
                </div>
            </div>
        }
    </div>



</div>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->
<!-- Bootstrap core JavaScript -->
